#photobrowser-app.loading
{
    background-image: url('/img/spinner.gif');
    background-repeat: no-repeat;
    height: 20px;
}

#album-list
{
    width: 220px;
    text-align: right;
    list-style-type: none;
}