body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}


#photobrowser-app.loading
{
    background-image: url('/img/spinner.gif');
    background-repeat: no-repeat;
    height: 20px;
}

#album-list
{
    width: 220px;
    text-align: right;
    list-style-type: none;
}